---
# The name of your project
title: Spring Cloud AWS

badges:

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-aws
      icon: github

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-cloud
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Cloud]({{ site.projects_site_url }}/spring-cloud)
{% endcapture %}


{% capture billboard_description %}

Spring Cloud AWS, part of the [Spring Cloud]({{ site.projects_site_url }}/spring-cloud) family, eases the integration
with Amazon Web Services. It offers a convenient way to interact with AWS services using the well-known Spring idioms
and APIs, such as the messaging or caching API.

{% endcapture %}

{% capture main_content %}

## Features

* Spring Messaging API implementation for [SQS](http://aws.amazon.com/sqs/).
* Spring Cache API implementation for [ElastiCache](http://aws.amazon.com/elasticache/).
* Annotation-based mapping of [SNS](http://aws.amazon.com/sns/) endpoints (HTTP).
* Access the resources by their logical name defined in a [CloudFormation](http://aws.amazon.com/cloudformation/) stack.
* Automatic JDBC `DataSource` creation based on the logical name of an [RDS](http://aws.amazon.com/rds/) instance.
* Ant-style path matching ResourceLoader for [S3](http://aws.amazon.com/s3/) buckets.

### Annotation-based SQS queue listener
```java
@MessageMapping("logicalQueueName")
private void receiveMessage(Person person, @Header("SenderId") String senderId) {
    // ...
}
```

### Annotation-based SNS listener
```java
@Controller
@RequestMapping("/sns/receive")
public class SnsEndpointController {

@NotificationMessageMapping
public void receiveNotification(@NotificationMessage String message, @NotificationSubject String subject) {
    // ...
}

@NotificationSubscriptionMapping
public void confirmSubscription(NotificationStatus notificationStatus) {
    notificationStatus.confirmSubscription();
}
```

### Messaging templates
```java
snsTemplate.sendNotification("SnsTopic", "message", "subject");
sqsTemplate.convertAndSend("Queue", new Person("John", "Doe"));
```

<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}


```xml
<!-- Define global credentials for all the AWS clients -->
<aws-context:context-credentials>
    <aws-context:instance-profile-credentials/>
    <aws-context:simple-credentials access-key="${accessKey:}"
                                    secret-key="${secretKey:}"/>
</aws-context:context-credentials>

<!-- Define global region -->
<aws-context:context-region region="EU_WEST_1"/>

<!-- Cloud Formation Stack -->
<aws-context:stack-configuration stack-name="StackName"/>
```

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Reference Application](https://github.com/spring-cloud-samples/aws-refapp)

{% endcapture %}


{% include project_page.html %}
</html>
